.login-page {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login-page .background-image { 
    background-image: url(https://c.animaapp.com/fZZ9VZSR/img/login-page.png);
    background-position: center;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-page {
    display: grid;
    place-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw; 
}


  
  .login-page .login-box {
    height: 653px;
    position: relative;
    top: 2px;
    width: 508px;
  }
  

  
  .login-page .loginbox-shadow {
    background-color: #2e2d2d;
    height: 642px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 498px;
  }

  
  .login-page .loginbox-color {
    height: 644px;
    background-color: #EFDAE3;
    position: absolute;
    width: 500px;
  }
  
  .login-page .title-text-container {
    height: 85px;
    left: 64px;
    position: absolute;
    top: 46px;
    width: 375px;
  }
  
  .login-page .loginbox-subtitle-wrapper {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 80px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 61px;
    white-space: nowrap;
  }
  
  .login-page .loginbox-title-wrapper {
    color: #463464;
    font-family: "Inter", Helvetica;
    font-size: 50px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .login-page .login-button {
    all: unset;
    box-sizing: border-box;
    height: 63px;
    left: 46px;
    position: absolute;
    top: 406px;
    width: 410px;
  }
  
  .login-page .login-button-wrapper {
    background-color: #463464;
    height: 63px;
    position: relative;
    width: 408px;
  }
  
  .login-page .login-button-text-wrapper {
    color: #ffffff;
    font-family: "Instrument Sans", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 178px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 20px;
    white-space: nowrap;
  }
  
  .login-page .register-button {
    height: 63px;
    left: 47px;
    position: absolute;
    top: 536px;
    width: 410px;
  }
  
  .login-page .register-button-color {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    height: 63px;
    position: relative;
    width: 408px;
  }
  
  .login-page .register-account-text-wrapper {
    color: #656565;
    font-family: "Instrument Sans", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 19px;
    white-space: nowrap;
  }
  
  .login-page .loginbox-forgot-password-wrapper {
    color: #000000;
    font-family: "Instrument Sans", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 484px;
    white-space: nowrap;
  }
  
  .login-page .username-box {
    height: 63px;
    left: 47px;
    position: absolute;
    top: 237px;
    width: 410px;
  }
  
  .login-page .input-box-color {
    background-color: #f2e9d8;
    height: 63px;
    position: relative;
    width: 408px;
  }
  
  .login-page .line {
    background-color: #554e41;
    height: 1px;
    left: 0;
    position: absolute;
    top: 62px;
    width: 408px;
  }
  
  .login-page .usernamebox-text-wrapper {
    color: #000000;
    font-family: "Instrument Sans", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.67;
    position: absolute;
    top: 20px;
    width: 134px;
  }
  
  .login-page .user-icon {
    height: 37px;
    left: 10px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 37px;
  }
  
  .login-page .password-box {
    height: 63px;
    left: 47px;
    position: absolute;
    top: 315px;
    width: 410px;
  }
  
  .login-page .password-text-wrapper {
    color: #000000;
    font-family: "Instrument Sans", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 55px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.67;
    position: absolute;
    top: 19px;
    width: 134px;
  }
  
  .login-page .password-icon {
    height: 37px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 36px;
  }
  